.container{
  display: grid;
  grid-template-areas: "header"
}
header{

  background-color: #000;
  height: 65px;
  
}

h1{
    text-align: center;
    color: rgb(15, 14, 14); 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
hr{
  opacity: .15;
}
body{
  background-color: #fff;
}
.error{
  color: red;
  font-style: italic
}
.status{
  font-style: italic;
  
}    

h5{
  font-style: italic;
  color: darkgrey;
}

a:link{
  text-decoration: none;
 
  
  
}

a:visited {
text-decoration: none;
color: purple;

}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
color: purple;
}

#login_button{
background-color: rgb(66, 209, 66);
color: #fff;

}  

.login {
   display: grid;
   padding-bottom: 50px;
   padding-top: 20px;
   margin: 100px 400px 0px 400px;
   border: 1px dotted gray;
   align-items: center;
   justify-items: center;
  
   
}
#display{
  
  text-align: center;
}
 
nav{
  color: white;
  background-color: rgb(44, 40, 40);
  height: 30px;
  padding: 5px 10px 0px 10px; 
}



