<!DOCTYPE html>
<html> 
<head>
    <title>{{page_title}}</title>
    <style>
    .error{
        color: red;
    }
    h1{
          text-align: center;
          color: #577A95;
          font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
        }
    hr{
        opacity: .15;
    }
    body{
        background-color: #EDF5E1;
    }
    .message{
        color: red;
        font-style: italic
    }

    </style>
</head>
<body>
        <a href='/blog'>Main Blog Page</a>
        <a href = '/newpost'>Add a Blog Entry</a>
{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages%}
        <li class = "{{category}}" style = "color: lime;">{{message}}</li>

    {% endfor %}
    </ul>
    
{% endwith %}       
    
{% block content %}
{% endblock %}
        
    

</body>

</html>