{% extends "base.html" %}

{% block content %}

<h1>Sign in to Blogz!</h1>
<div id='login'>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input id = 'login_button' type="submit" value="Sign In">
</form>
<p>New to Blogz? <a href="/signup">Create an account</a>.</p>
</div>
{% endblock %}